	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header1 }}"></i>
						</span>
						<h3 class="editable">Betaalbaar</h3>
						<p class="editable">Een webshop laten maken hoeft niet duur te zijn.</p>
						<p><a href="/contact/" class="btn btn-white btn-outline editable">Neem contact met ons op</a></p>
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header2 }}"></i>
						</span>
						<h3 class="editable">Heel eenvoudig</h3>
						<p class="editable">Zelf je content bedienen? Geen probleem. Onze sites zijn heel gebruiksvriendelijk.</p>
						<p><a href="/contact/" class="btn btn-white btn-outline editable">Neem contact met ons op</a></p>
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="{{ site.data.icons.header3 }}"></i>
						</span>
						<h3 class="editable">Snel live</h3>
						<p class="editable">Binnen no-time aan de slag met je nieuwe website.</p>
						<p><a href="/contact/" class="btn btn-white btn-outline editable">Neem contact met ons op</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>