	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="editable" id="werkwijze">Werkwijze</h2>
					<p class="editable">Responsive design, dat is waar we goed in zijn.</p>
				</div>
			</div>
			<div class="row"> 
				<div class="col-md-4 col-sm-8">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features1 }}"></i>
						</span>
						<h3 class="editable">Responsive Design</h3>
						<p class="editable">Van desktop tot mobiel. Onze designs zijn gericht op nu en klaar voor de toekomst.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-8">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features2 }}"></i>
						</span>
						<h3 class="editable">Mobile First</h3>
						<p class="editable">50% van alle online aankopen worden gedaan via mobiele apparaten en dat zal alleen maar toenemen.</p>
					</div>
				</div>
					{% comment %}
				<div class="col-md-4 col-sm-8">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features3 }}"></i>
						</span>
						<h3 class="editable">Zelf bedienen</h3>
						<p class="editable">Wij maken onze shops zo dat u zelf wijzigingen kunt maken.</p>
					</div>
				</div>
				{% endcomment %}
			
				<div class="col-md-4 col-sm-8">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="{{ site.data.icons.features4 }}"></i>
						</span>
						<h3 class="editable">Pixel Perfect</h3>
						<p class="editable">Wilt u zelf een design aanleveren? Geen probleem, we maken graag een offerte.</p>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>