	<footer id="gtco-footer animate-box" data-animate-effect="fadeInUp" role="contentinfo">
	    
	    <h2 id="contact">Contact</h2>
	    
	    	{% include contact.html %}
	    
	    {% comment %}
	    <div class="display-tc">
							
					
							<p class="animate-box" data-animate-effect="fadeInUp"><a class="btn btn-white btn-lg btn-outline editable" href="/contact">Neem contact met mij op</a><span class="ofniet">* of niet, kijk maar ff</span></p>
	</div>	
	  {% endcomment %}
	    
	    
		
	</footer>