
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({{ site.data.settings.header_image }});">
	
	<div class="neon"><b>B<span>ad</span>d<span>i</span>e</b></div>
	
	<div class="display-tc">
							
							<h1 class="animate-box editable" data-animate-effect="fadeInUp">Grafisch Vormgever Amsterdam</h1>
							<p class="animate-box" data-animate-effect="fadeInUp"><a class="btn btn-white btn-lg btn-outline editable" href="/contact">Neem contact met mij op</a><span class="ofniet">* of niet kijk maar ff</span></p>
	</div>	
	
	
	
	</header>



{% comment %}
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({{ site.data.settings.header_image }});">
		
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box editable" data-animate-effect="fadeInUp">Ik ben Baddie</h1>
							<h2 class="animate-box editable" data-animate-effect="fadeInUp">Ik geef dingen grafisch vorm</h2>
							<p class="animate-box" data-animate-effect="fadeInUp"><a class="btn btn-white btn-lg btn-outline editable" href="/contact">Neem contact met mij op</a>* of niet, kijk maar ff</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endcomment %}	